.container{
    display: flex;
    height: calc(100vh - 70px);
}

.chat-list{
    width: 40%;
    margin: 16 px;
    background: #9da9f4;
    border-radius: 16 px;
    
}

.messages{
    width: 60%;
    margin: 16 px;
    background: #737bed;

    border-radius: 16 px;
    
}

.search-input {
    margin: 24;

}