  <!-- Header -->
  <header id="header" class="bg-secondary">
    <nav class="container mx-auto flex justify-start items-center py-8 px-4">
      <!-- App Name -->
      <a class="text-3xl text-indigo-400 font-bold uppercase mr-4" routerLink="/home">TRANSCENDENCE</a>
      <div class="flex flex-grow items-center">
        <!-- Primary Navigation -->
        <ul class="flex flex-row mt-1">
          <!-- Navigation Links -->
          <li>
            <a class="px-2" routerLink="/user"routerLinkActive="text-indigo-400">
              HOME</a>
          </li>
          <li>
            <a class="px-2" routerLink="/friends"routerLinkActive="text-indigo-400">
              FRIENDS</a>
          </li>
          <li>
            <a class="px-2" routerLink="/game"routerLinkActive="text-indigo-400">
              GAME</a>
          </li>
          <li>
            <a class="px-2" routerLink="/history"routerLinkActive="text-indigo-400">
              HISTORY</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
