<div class="flex flex-col ml-8">
  <!-- <div class="container mx-auto py-8 px-4 flex z-0">
  </div> -->
  <div class="grid gap-x-8 gap-y-20 px-32 lg:px-8 xl:grid-cols-3 py-24 sm:py-32">
    <div class="flex flex-col">
      <img class="object-cover h-48 w-48 rounded-full mb-8" [src]="intraPic" alt="">
    </div>
    <div class="table-fixed justify-end w-full">
      <div class="table w-full mb-16">
        <div class="table-row header font-bold">
          <div class="table-cell text-indigo-400">Versus</div>
          <div class="table-cell text-indigo-400">Result</div>
          <div class="table-cell text-indigo-400">Level</div>
        </div>
        <div class="table-row" *ngFor="let item of listData">
          <div class="table-cell">{{ item.versus }}</div>
          <!-- <div class="table-cell">mnies</div> -->
          <div class="table-cell">{{ item.result }}</div>
          <!-- <div class="table-cell">loss</div> -->
          <div class="table-cell">{{ item.level }}</div>
          <!-- <div class="table-cell">1</div> -->
        </div>
      </div>
    </div>
  </div>
</div>

    
    

    <div class="max-w-xs ml-8">
          <div class="flex justify-between items-center">
            <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">{{ fullName }}</h3>
          </div>   
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-indigo-400">Wins</dt>
          <dd class="mt-1 text-sm leading-6 text-indigo-400 sm:col-span-2 sm:mt-0 ml-30">{{wins}}</dd>
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-indigo-400">Losses</dt>
          <dd class="mt-1 text-sm leading-6 text-indigo-400 sm:col-span-2 sm:mt-0 ml-30">{{losses}}</dd>
          
        </div>
        <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
          <dt class="text-sm font-medium leading-6 text-indigo-400">Level</dt>
          <dd class="mt-1 text-sm leading-6 text-indigo-400 sm:col-span-2 sm:mt-0 ml-30">{{level}}</dd>
        </div>
      </div>
      <!-- </div> -->
      <div class="flex justify-self-auto gap-24">

        <ng-container *ngFor="let badgeLevel of [1, 2, 3, 4, 5]" >
          <div class="flex flex-col items-center px-8 ">
            <svg class="h-24 w-24 text-indigo-200" aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24">
              <path strokeLinecap="round" strokeLinejoin="round" d="M17.25 6.75L22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3l-4.5 16.5" />
            </svg>
            <span class="mt-2">BADGE</span>
          </div>
        </ng-container>
</div>
  
  <div class="fixed bottom-0 right-0 p-4" style="z-index: 10;" (click)="openChat($event)">
    <svg class="h-12 w-12 text-indigo-200 " aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>

  
  
  
  <app-chat></app-chat>