/* .table {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 16px;
  }
  .table-row {
    display: table-row;
    border-bottom: 1px solid #e2e8f0;
  }
  .table-cell {
    display: table-cell;
    padding: 64px;
    text-align: left;
    vertical-align: middle;
  }
  .header {
    font-weight: bold;
  } */