<!-- matchHistory -->

  <!-- <ul class="list-none"> -->
    <!-- <li *ngFor="let item of listData"> -->
      <!-- <span class="mt-1 text-sm leading-6 text-indigo-400 sm:col-span-2 sm:mt-0">{{item.versus}} {{item.result}} {{item.level}} </span> -->
      <!-- <dd class="mt-1 text-sm leading-6 text-indigo-400 sm:col-span-2 sm:mt-0">{{item.name}}</dd> -->

    <!-- </li> -->
  <!-- </ul> -->

  <!-- <table class="table-auto">
    <thead>
      <tr>
        <th>Versus</th>
        <th>Result</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
      <div class="table-row" *ngFor="let item of listData">
        <div class="table-cell">{{ item.versus }}</div>
        <div class="table-cell">{{ item.result }}</div>
        <div class="table-cell">{{ item.level }}</div>
      </div>
    </tbody>
  </table> -->

  <div class="table">
    <div class="table-row header">
      <div class="table-cell">Versus</div>
      <div class="table-cell">Result</div>
      <div class="table-cell">Level</div>
    </div>
    <div class="table-row" *ngFor="let item of listData">
      <div class="table-cell">{{ item.versus }}</div>
      <div class="table-cell">{{ item.result }}</div>
      <div class="table-cell">{{ item.level }}</div>
    </div>
  </div>

  <div class="fixed bottom-0 right-0 p-4 " (click)="openChat($event)">
    <svg class="h-12 w-12 text-indigo-200 " aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>
  
  <app-chat></app-chat>
