<!-- <ul role="list" class="divide-y divide-gray-100"> -->
  <div class="flex flex-col ml-8"></div>
  <div class="grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3 py-24 sm:py-32">

  <ul role="list" >

    <!-- picture & name  -->
    <li *ngFor="let friend of listValues" class="flex justify-between gap-x-6 py-5">
      <div class="flex gap-x-4">
        <img class="object-cover h-32 w-32 rounded-full" [src]="friend.pic" alt="">
        <div class="min-w-0 flex-auto">
          <a class=" text-sm font-semibold leading-6 text-indigo-400 " routerLink="/display">{{friend.name}}</a>
        </div>
      </div>
      <!-- online status -->
      <div class="hidden sm:flex sm:flex-col sm:items-end">
          <div class="mt-1 flex items-center gap-x-1.5" [ngSwitch]="friend.status">
              <div *ngSwitchCase="1" class="flex-none rounded-full bg-cyan-200/20 p-1">
                <div class="h-1.5 w-1.5 rounded-full bg-cyan-200"></div>
              </div>
            <div *ngSwitchCase="2" class="flex-none rounded-full bg-rose-600/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-rose-600"></div>
            </div>
            <div *ngSwitchCase="3" class="flex-none rounded-full bg-emerald-500/20 p-1">
              <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
            </div>
            <p class="text-xs leading-5 text-gray-500">{{ friend.status == 1 ? 'Playing' : (friend.status == 2 ? 'Offline' : 'Online') }}</p>
          </div>
        </div>
    </li>
  </ul>
  </div>

  <div class="fixed bottom-0 right-0 p-4" style="z-index: 10;" (click)="openChat($event)">
    <svg class="h-12 w-12 text-indigo-200 " aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" stroke-linecap="round" stroke-linejoin="round"></path>
    </svg>
  </div>

  <app-chat></app-chat>