<p>user works!</p>
<!DOCTYPE html>
<html>
  <body>
    <h1 id="username">ROMY</h1>
    <div>
      <img src="https://cdn.intra.42.fr/users/439ae812911986ad4e2b01a32ef73ea4/rschleic.jpg" alt="User Profile Picture">
    </div>
  </body>
</html>


<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>
  </head>
  <body>
    <img id="user-image">
    <h1 id="user-name"></h1>

    <script>
      const userProfile = {
        name: "John Smith",
        image: "https://example.com/user.jpg"
      };

      const userImage = document.getElementById("user-image");
      userImage.src = userProfile.image;

      const userName = document.getElementById("user-name");
      userName.innerText = userProfile.name;
    </script>
  </body>
</html> -->
