<div class="py-24 sm:py-32">
  <div class="mx-auto grid max-w-7xl gap-x-8 gap-y-20 px-6 lg:px-8 xl:grid-cols-3">
    <div class="max-w-2xl">
      <h2 class="text-3xl font-bold tracking-tight text-indigo-400 sm:text-4xl">Meet our Team</h2>
    </div>
    <ul role="list" class="flex flex-wrap gap-x-32 gap-y-32 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
        <li>
          <div class="flex items-center gap-x-32">
            <img class="object-cover h-32 w-32 rounded-full" src="https://cdn.intra.42.fr/users/439ae812911986ad4e2b01a32ef73ea4/rschleic.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">Romy Schleicher</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Angular Developer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-32">
            <img class="object-cover h-32 w-32 rounded-full" src="https://cdn.intra.42.fr/users/f39c95b440a7892a13fd0815fdc4ed78/mnies.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">Michael Nies</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Fullstack Developer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-32">
            <img class="object-cover h-32 w-32 rounded-full" src="https://cdn.intra.42.fr/users/90e5daf132867874fda0b6d5c6227f08/dmontema.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">Denice Montemayor</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Fullstack Developer</p>
            </div>
          </div>
        </li>        
        <li>
          <div class="flex items-center gap-x-32">
            <img class="object-cover h-32 w-32 rounded-full" src="https://cdn.intra.42.fr/users/70fdc8bacb35cb5b1f666383b0eee5ff/mjeyavat.JPG" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">Mohanavatanan Jeyavatanan</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Chat Engineer</p>
            </div>
          </div>
        </li>
        <li>
          <div class="flex items-center gap-x-32">
            <img class="object-cover h-32 w-32 rounded-full" src="https://cdn.intra.42.fr/users/cd93c8ee7920347eedfeafb9f8b7b294/lrosch.jpg" alt="">
            <div>
              <h3 class="text-base font-semibold leading-7 tracking-tight text-indigo-400">Lukas Rösch</h3>
              <p class="text-sm font-semibold leading-6 text-indigo-600">Game Engineer</p>
            </div>
          </div>
        </li>
    </ul>
  </div>



<div class="fixed bottom-0 right-0 p-4" style="z-index: 10;" (click)="openChat($event)">
  <svg class="h-12 w-12 text-indigo-200 " aria-hidden="true" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.625 9.75a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H8.25m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0H12m4.125 0a.375.375 0 11-.75 0 .375.375 0 01.75 0zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 01.778-.332 48.294 48.294 0 005.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" stroke-linecap="round" stroke-linejoin="round"></path>
  </svg>
</div>

<app-chat></app-chat>

